{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        {#<ol class="breadcrumb">#}
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
            {#<li class="active">Here</li>#}
        {#</ol>#}

        <h1>
            Liste ouvriers
        </h1>
    </section>

    <section class="content">
        <div class="box" >
            <div class="box-body" >
                <table class="table" >
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>{{ 'worker.lastname.label' | trans }}</th>
                        <th>{{ 'worker.firstname.label' | trans }}</th>
                        <th>{{ 'actions.label' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for worker in workers %}
                        <tr>
                            <td><a href="{{ path('worker_show', { 'id': worker.id }) }}">{{ worker.id }}</a></td>
                            <td>{{ worker.name }}</td>
                            <td>{{ worker.firstName }}</td>
                            <td>
                                <div class="btn-group" >
                                    <a class="btn btn-info btn-sm" href="{{ path('worker_show', { 'id': worker.id }) }}">{{ 'show.label' | trans }}</a>
                                    <a class="btn btn-warning btn-sm" href="{{ path('worker_edit', { 'id': worker.id }) }}">{{ 'edit.label' | trans }}</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a class="btn btn-primary"  href="{{ path('worker_new') }}">{{ 'worker.create.title' | trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
