<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">Ressource</li>
            <li class="treeview">
                <a href="{{ path('worker_index') }}">
                    <i class="fa fa-link"></i> <span>Liste du personnel</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('worker_index') }}">Voir tous</a></li>
                    <li><a href="{{ path('worker_new') }}">Nouveau</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="{{ path('user_index') }}">
                    <i class="fa fa-link"></i> <span>Gestionnaire des chantier</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('user_index') }}">Voir tous</a></li>
                    <li><a href="{{ path('user_new') }}">Nouveau</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="{{ path('site_index') }}">
                    <i class="fa fa-link"></i> <span>Chantier</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('site_index') }}">Voir tous</a></li>
                    <li><a href="{{ path('site_new') }}">Nouveau</a></li>
                </ul>
            </li>
            <li class="header">Suivi du personnel</li>
            <li>
                <a href="{{ path('export_index') }}"><i class="fa fa-link"></i> <span>Suivi du personnel</span></a>
            </li>
        </ul>
    </section>
</aside>
